# Environment variables
.env
*/.env

# Avoid committing any files that might contain API keys
*_key*
*_secret*

# avoid committing logs
airflow/logs
airflow/dags/__pycache__
dbt/logs

# avoid committing data
kaggle_data_source

# avoid committing development plan
development_plan.md
project_report.md

.Ds_store

